.post-view{
    &__author{
        color: $grey-700;
        font-style: italic;
        margin-bottom: 24px;
        font-size: 12px;
    }
    &__created-at{
        margin-top: 24px;
        font-size: 12px;
    }
}