.notes-page {
  &__button-new {
    display: flex;
    justify-content: flex-end;
  }
  &__note-count {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    font-weight: 600;
  }
  &__header {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

