._button{
    text-align: center;
    text-decoration: none;
    color: initial;
    padding: 10px;
    background: #fff;
    border-radius: $border-md;
    border: 1px solid $blue-semilight;
    min-width: 140px;
    height: 40px;
    cursor: pointer;
    transition: $animation;
    &:hover{
        background-color: $blue-medium;
        border: #fff;
        color: #fff;
    }
    &:active{
        transform: scale(0.95);
    }
}