._input {
  box-sizing: border-box;
  transition: $animation;
  background: $blue-transparent;
  display: flex;
  align-items: center;
  box-shadow: $shadow-input;
  border-radius: $border-md;
  padding: 10px;
  min-width: 200px;
  height: 44px;
  margin-bottom: 16px;
  @media screen and (max-width: $screen-xl) {
    height: 38px;
  }
  @media screen and (max-width: $screen-md) {
    height: 32px;
  }
  @media screen and (max-width: $screen-xsm) {
    min-width: 100px;
  }
  &__error {
    border: 1px solid $common-red;
  }
  &__error-message {
    margin-top: -10px;
    margin-bottom: 8px;
    color: $common-red;
  }
  &__label {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 8px;
  }
  &:focus {
    border: 2px solid $blue-dark;
  }
  &--small-height {
    height: 30px;
  }

  // password input specific styles
  &-wrapper {
    &--password {
      width: fit-content;
      margin-bottom: 16px;
      position: relative;
      ._input {
        margin-bottom: 0;
        padding-right: 40px;
      }
    }
  }
  &__password-show {
    position: absolute;
    right: 3px;
    top: 50%;

    transform: translateY(-50%);
    margin-bottom: 0;
    img {
      margin-top: 3px;
      height: 24px;
      object-fit: contain;
    }
  }
}

._textarea {
  box-sizing: border-box;
  background: $blue-transparent;
  border: none;
  box-shadow: $shadow-input;
  border-radius: $border-md;
  padding: 10px;
  min-height: 150px;
  outline: none;
  &__error {
    border: 1px solid $common-red;
  }
  &__error-message {
    margin-top: 8px;
    margin-bottom: 8px;
    color: $common-red;
  }
  &:focus {
    border: 1px solid $blue-semilight;
  }
}
._radio {
  padding-left: 24px;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    border-radius: 50%;
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $animation;
    opacity: 0;
    left: 3px;
    background: $blue-medium;
  }
  &:focus:before {
    border: 1px solid $blue-dark;
  }
  &:checked:after {
    opacity: 1;
  }
  &:before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $blue-semitransparent;
    display: block;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}
._checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
}
._checkbox {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $blue-semilight;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 6px;
  transition: $animation;
  border-radius: $border-sm;

  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $animation;
    opacity: 0;
    left: 3px;
    background: $blue-medium;
  }
  &:focus {
    outline: 1px solid $blue-dark;
  }
  &:checked {
    border-color: $blue-medium;
    &:after {
      opacity: 1;
    }
  }
  & + label {
    display: inline-block;
    font-weight: 500;
  }
}
.react-datepicker-wrapper {
  display: block !important;
}
label {
  cursor: pointer;
}
