.notes-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
.note {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid $blue-semitransparent;
  border-radius: $border-sm;
  padding: 16px;
  &__actions {
    align-self: center;
    @media screen and (max-width: $screen-md){
      align-self: flex-start;
    }
  }
  &__body {
    border-left: 4px solid rgba(17, 81, 115, 0.5);
    padding-left: 8px;
  }
  &__title {
    font-weight: 700;
  }
  &__edit {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__create-date {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  &__delete {
    color: $common-red;
    font-weight: 700;
    display: flex;
    align-items: center;
    span{
      margin-right: 4px;
    }
    @media screen and (max-width: $screen-md){
      padding: 0;
      span{
        display: none;
      }
    }
  }
  &__content{
    word-break: break-word;
  }
}
