._section {
  margin-top: 25px;
  border-radius: $border-md;
  background-color: $section-bg;
  padding: 16px;
  box-shadow: $shadow-md;
  transition: $animation;
  opacity: 0;
  position: relative;
  &__title{
    .page__title{
      margin: 0;
    }
  }
  @media screen and (max-width: $screen-2xl) {
    margin-top: 20px;
  }
  @media screen and (max-width: $screen-xl) {
    margin-top: 15px;
    padding: 12px;
  }
  @media screen and (max-width: $screen-md) {
    margin-top: 12px;
    padding: 10px;
  }

  animation: appear 0.7s normal forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
