._tabs {
  display: flex;
  @media screen and (max-width: $screen-sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    box-shadow: $shadow-md;
    border: 1px solid $blue-semitransparent;
    border-bottom: 0;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $grey-500;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    @media screen and (max-width: $screen-md) {
      font-size: 14px;
    }
    // transition: $animation;
    &:after {
      content: "";
      display: none;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-left: 8px;
    }
    &--important:after {
      background-color: $common-red;
      display: block;
    }
    &--medium:after {
      background-color: $common-yellow;
      display: block;
    }
    &--low:after {
      background-color: $accept-green;
      display: block;
    }
    &:first-child {
      border-radius: $border-sm 0 0 0;
    }
    &:last-child {
      border-radius: 0 $border-sm 0 0;
    }
    &--active,
    &:hover {
      border-color: $blue-transparent;
      background-color: $blue-transparent;
      color: $grey-700;
    }
  }
}
