.login-page {
  &__content {
    margin-top: 34px;
    max-width: 656px;
    border-radius: $border-md;
    background-color: $section-bg;
    padding: 16px;
    box-shadow: $shadow-md;
    transition: $animation;
  }
}
.login-form {
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__text {
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 400px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    ._button{
      align-self: flex-end;
    }
    button[type="submit"]{
      margin-top: 20px;
    }
  }
}
